.list {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

.hideJokeList {
  display: none;
  margin: 0;
}
.regularText {
  font-size: 16px;
}

@media (min-width: 769px) {
  .regularText {
    font-size: 20px;
  }
}

@media (min-width: 1025px) {
  .regularText {
    font-size: 24px;
  }
  .jokeListContainer {
    width: 50%;
    margin-left: 50%;
  }
}
