.container {
  border: solid black;
  border-radius: 20px;
  background-color: white;
  font-family: "Indie Flower", cursive;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  min-height: 200px;
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  margin-bottom: 15px;
  position: relative;
}

.button {
  background: none;
  border: none;
  width: auto;
  height: 100px;
  margin-right: 40px;
  margin-left: 40px;
  margin-bottom: 5px;
}

.icon {
  width: auto;
  height: 35px;
}

.date {
  margin-right: 20px;
  margin-top: 2px;
  margin-left: auto;
  text-align: right;
}

@media (min-width: 769px) {
  .date {
    margin-top: 10px;
    font-size: 18px;
  }
  .icon {
    height: 38px;
  }
}

@media (min-width: 1025px) {
  .container {
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
  }
  .date {
    font-size: 20px;
  }
  .icon {
    height: 40px;
  }
}

.highlighted {
  color: white;
  background-color: rgb(77, 52, 135);
}

.highlightedGreen {
  color: rgb(79, 194, 79);
}
