.app {
  text-align: center;
}

.text {
  font-family: "Indie Flower", cursive;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.headerText {
  font-weight: bold;
  font-size: 32px;
  margin: 0;
  margin-bottom: 35px;
}
.transparent {
  opacity: 0;
  margin-right: 20px;
  transition: 500ms;
  position: relative;
  top: 12px;
}

.visible {
  font-size: 18px;
  opacity: 1;
  font-weight: bold;
  transition: 500ms;
  margin-right: 35px;
  top: 8px;
}

@media (min-width: 769px) {
  .text {
    font-size: 22px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .headerText {
    font-size: 40px;
    margin-bottom: 45px;
  }

  .visible {
    font-size: 25px;
    margin-right: 45px;
    top: 15px;
  }
}

@media (min-width: 1025px) {
  .text {
    font-size: 25px;
  }
  .headerText {
    font-size: 55px;
  }
  .displayBothComponents {
    display: block;
  }
  .visible {
    top: 24px;
  }
}

/*---------------------- CSS Transition styles */

.fade-enter {
  opacity: 0;
}
.fade-exit {
  opacity: 1;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.item-enter {
  opacity: 0;
}
.item-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.item-exit {
  opacity: 1;
}
.item-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}
