.clicked {
  transition: 500ms;
  scale: 1.15;
}

.button {
  background: none;
  border: none;
  margin-top: 20px;
  margin-right: 40px;
  margin-left: 40px;
}

@media (min-width: 769px) {
  .button {
    margin-right: 75px;
    margin-left: 75px;
  }
}
